<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="testsDatabaseConnection" connectionString="" />
	</connectionStrings>

	<appSettings>
		<add key="browserToUse" value="0" />

		<!--User should be created in Local Database -->
		<add key="mvc_Login_Url" value="" />
		<add key="mvc_Login_UserName" value="" />
		<add key="mvc_Login_Pass" value="" />

		<add key="mvc_Admin_Url" value="" />
		<add key="mvc_Admin_UserName" value="" />
		<add key="mvc_Admin_Pass" value="" />

		<add key="mvc_Reports_Url" value="" />
		
		<add key="hypermedia_Api_UserName" value="" />
		<add key="hypermedia_Api_Url" value="" />
		<add key="api_Key" value="" />

		<add key="subscriberEmail_BlackList" value="" />

		<add key="timeout_seconds" value="30" />
		<add key="default_assert_message" value="The '{0}' element was not found in '{1}' page." />
		<add key="default_assert_message2" value="The '{0}' text was not found in '{1}' page." />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
